@font-face {
  font-family: "Beon";
  src: url("Beon-Regular.ttf");
}

.genre {
  -fx-font-family: "Beon";
  -fx-background-color: transparent;
  -fx-font-size: 36px;
}
.genre:hover {
  -fx-effect: dropshadow(three-pass-box, rgb(13, 20, 134), 5, 0, 0, 1);
}

.userDetails {
  -fx-background-color: transparent;
  -fx-border-width: 2px;
  -fx-border-color: rgb(255, 0, 208);
}

.loginSignUp {
  -fx-font-family: "Beon";
  -fx-background-color: transparent;
  -fx-font-size: 30px;
  -fx-text-fill: rgb(255, 0, 208);
}

.loginSignUp:hover {
  -fx-text-fill: rgb(55, 208, 241);
}

.questions {
  -fx-font-family: "Beon";
  -fx-font-size: 36px;
}

.scoreCount {
  -fx-font-family: "Beon";
  -fx-text-fill: rgb(255, 0, 208);
}

.answers {
  -fx-font-family: "Beon";
  -fx-background-color: transparent;
  -fx-font-size: 24px;
}

.popupAlerts {
  -fx-font-family: "Beon";
}

.chatRoom {
    -fx-font-family: "Beon";
    -fx-font-size: 18px;
    -fx-background-color: transparent;
}