@font-face {
  font-family: "Beon";
  src: url("Beon-Regular.ttf");
}

.genre {
  -fx-font-family: "Beon";
  -fx-background-color: transparent;
  -fx-font-size: 36px;
}
.genre:hover {
  -fx-effect: dropshadow(three-pass-box, rgb(13, 20, 134), 5, 0, 0, 1);
}

.userDetails {
  -fx-background-color: transparent;
  -fx-border-width: 2px;
  -fx-border-color: rgb(255, 0, 208);
}

.loginSignUp {
  -fx-font-family: "Beon";
  -fx-background-color: transparent;
  -fx-font-size: 30px;
  -fx-text-fill: rgb(255, 0, 208);
}

.loginSignUp:hover {
  -fx-text-fill: rgb(55, 208, 241);
}

.questions {
  -fx-font-family: "Beon";
  -fx-font-size: 36px;
}

.scoreCount {
  -fx-font-family: "Beon";
  -fx-text-fill: rgb(255, 0, 208);
}

.answers {
  -fx-font-family: "Beon";
  -fx-background-color: transparent;
  -fx-font-size: 24px;
}

.popupAlerts {
  -fx-font-family: "Beon";
}

.chatRoom {
  -fx-font-family: "Beon";
  -fx-font-size: 18px;
  -fx-background-color: transparent;
  -fx-scrollbar-color: transparent;
}

.chatRoom .scroll-pane {
  -fx-background-color: transparent;
}

.chatRoom .scroll-pane .viewport {
  -fx-background-color: transparent;
}

.chatRoom .scroll-pane .content {
  -fx-background-color: transparent;
}

.chatRoom .scroll-bar {
  -fx-opacity: 0px;
}

.chatRoom .scroll-bar:horizontal .increment-button,
.chatRoom .scroll-bar:horizontal .decrement-button,
.chatRoom .scroll-bar:vertical .increment-button,
.chatRoom .scroll-bar:vertical .decrement-button {
  -fx-padding: 0;
}

.chatRoom .scroll-bar:horizontal .thumb,
.chatRoom .scroll-bar:vertical .thumb {
  -fx-background-color: transparent;
}

.gameSelect {
  -fx-text-fill: red;
  -fx-background-color: transparent;
  -fx-font-size: 24px;
  -fx-font-family: "Beon";
}

.leaderBoard {
  -fx-background-color: transparent;
  -fx-font-family: "Beon";
}

.leaderBoard .column-header *,
.leaderBoard .table-column-header * {
  -fx-background-color: transparent;
  -fx-mouse-transparent: true;
  -fx-font-family: "Beon";
  -fx-font-size: 30px;
  -fx-text-fill: rgb(255, 200, 61);
}

.root {
  -fx-background-color: transparent;
}

/* .leaderBoard .column-header *,
.leaderBoard .table-column-header * {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-font-family: "Beon";
  -fx-font-size: 30px;
  -fx-text-fill: rgb(255, 200, 61);
} */
